header{
    width: 100%;
    height: 80px;

    background-color: rgba(127, 133, 81, 0.685);

    position: fixed;
    top: 0;

    margin: 0;
    padding: 0;
}

header *{
    margin: 0;
    padding: 0;
}

header input, header label img{
    display: none;
}

header, header p, header div, header a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header p{
    
    background-image: url('../../img/background/topo-nome.png');
    
    width: 100%;
    height: 55%;
    
    font-size: 3vh;

    color: darkgray;

    text-transform: uppercase;    
    letter-spacing: 2px;

}

header div{
    flex-direction: row;

    width: 100%;
    height: 45%;
}

header a {
    height: 100%;
    width: 15%;

    font-size: 17px;

    color: #ffffff;

    border-bottom: 1px transparent solid;
}

header a:hover{
    color: #f1e7e7de;
    border-color: #f1e7e7de;
}

@media (max-width: 718px){

    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        width: 100%;

    }

    header p{
        height: 100%;    
        
        background-image: none;

        color: #f1e7e7;
    }

    header input:checked + .nav-bar{
        transform: translateX(0%);
    }
    
    header label img{
        display:inline;
    }

    header label img{
        transform: translateX(-90%);
        z-index: 3;
        filter: brightness(200);
    }

    .nav-bar{
        transform: translateX(-200%);
        transition: 0.6s cubic-bezier(0, 0, 0.65, 1);
        
        flex-direction: column;
        justify-content: space-evenly;

        width: 60%;
        height: 100vh;

        position: fixed;
        left: 0;
        top: 0;

        background-color: rgb(127, 133, 81);
        z-index: 1;
    }

    .nav-bar a{
        width: 100%;
        height: 60px;
    }


}