header{
    width: 100%;
    height: 13%;

    background-color: #e9baba70;

    position: absolute;
    top: 0;
}

header, header p, header div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header p{
    
    background-image: url('../../img/background/topo-nome.png');
    
    width: 100%;
    height: 55%;
    
    font-family: roboto;
    font-size: 3vh;

    color: darkgray;

    text-transform: uppercase;    
    letter-spacing: 2px;

}

header div{
    background-color: rgb(95, 67, 67);
    opacity: 0.7;

    flex-direction: row;

    width: 100%;
    height: 45%;
}

header button{

    background-color: transparent;
    border: none;  
    border-bottom: 2px solid transparent;

    color: wheat;

    font-family: roboto;
    font-size: 17px;

    width:100%;
    height: 100%;
}

header a {
    height: 100%;
    width: 15%;


}

header button:hover{
    color: #ffffff;
    border-color: #ffffff;
}
