@font-face{
    font-family: roboto;
    src: url('files/font/robotoMe.ttf');
}
@font-face{
    font-family: creat;
    src: url('files/font/Creattion.otf');
}

@font-face{
    font-family: victor;
    src: url('files/font/victor.ttf');
}


body{
    margin: 0px;
    padding: 0px;


    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('files/stars.png');

}

a{
    text-decoration: none;
}


.nome-topo{
    
    background-image: url('files/topo-nome.png');

    display: flex;
    
    align-items: center;

    justify-content: center;

    height: 50px;

}

.p-nome{
    color: darkgray;

    font-family: roboto;
    font-size: 20px;

    text-transform: uppercase;

    letter-spacing: 2px;


}

.navbar{
    background-color: rgb(95, 67, 67);
    opacity: 0.7;

    height: 40px;
    width: 100%;

    display: flex;
    justify-content:center;
    align-items: center;
}


.link-nav{
    color: wheat;
    margin: 2px 20px 2px 20px;

    font-family: roboto;
}

.link-nav:hover{
    color: sienna;
}

.container{
    background-color: rgba(131, 101, 63, 0.699);

    border-radius: 5px;

    width: 93%;
    margin-top: 40px;

}

.container-top{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.info{
    height: 300px;
    display: flex;
    flex-direction: column;

    margin: 30px;

}

.c-nome{
    margin: 0px;

    color:rgb(75, 11, 11);

    font-family: creat;
    font-size: 80px;
}

.git{
    display: flex;
    flex-direction: row;
    
    width: 500px;

    align-items: center;
}

.git-img{
    width: 60px;
    height: 60px;

}

.a-git{
    margin-left: 15px;
    font-family: victor;
    color: white;
    
}

.a-git:hover{
    color: rgb(207, 181, 141);
}