@font-face{
    font-family: roboto;
    src: url('files/font/robotoMe.ttf');
}
@font-face{
    font-family: creat;
    src: url('files/font/Creattion.otf');
}
@font-face{
    font-family: victor;
    src: url('files/font/victor.ttf');
}
@font-face{
    font-family: glacial;
    src: url('files/font/GlacialIndifference-Regular.otf');
}


body{
    margin: 0px;
    padding: 0px;


    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('files/stars.png');

}

.body2{
    background-color: rgba(210, 105, 30, 0.822);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

a{
    text-decoration: none;
}

/*Barra de Navegação ---------------------------------------------------------------------Barra de Navegação------*/

.nome-topo{
    
    background-image: url('files/topo-nome.png');

    display: flex;
    
    align-items: center;

    justify-content: center;

    height: 50px;

}

.p-nome{
    color: darkgray;

    font-family: roboto;
    font-size: 20px;

    text-transform: uppercase;

    letter-spacing: 2px;


}

.navbar{
    background-color: rgb(95, 67, 67);
    opacity: 0.7;

    height: 40px;
    width: 100%;

    display: flex;
    justify-content:center;
    align-items: center;
}


.link-nav{
    color: wheat;
    margin: 2px 20px 2px 20px;

    font-family: roboto;
}

.link-nav:hover{
    color: sienna;
}


/*REDES -------------------------------------------------------------------------------------REDES------*/


.container{
    background-color: rgba(131, 101, 63, 0.489);

    border-radius: 5px;

    height: 300px;

    width: 93%;
    margin-top: 40px;

}

.container-top{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.info{
    height: 300px;
    display: flex;
    flex-direction: column;

}

.c-nome{
    margin: 10px 0px 0px 30px;

    color:rgba(255, 235, 205, 0.644);

    font-family: creat;
    
    font-size: 90px;
}

.redes{
    display: flex;
    flex-direction: row;

    width: 900px;

}

.redes1{
    width: 360px;
}





.linkRede{
    display: flex;
    flex-direction: row;
    
    width: 500px;

    margin-top: 10px;

    align-items: center;
}

.git, .in, .insta,  .fone{
    display: flex;
    flex-direction: row;

    margin-top: 5px;

    align-items: center;
}

.git-img, .in-img, .insta-img, .fone-img{
    width: 40px;
    height: 40px;

}

.a-git, .a-in, .a-insta, .a-fone{
    margin-left: 15px;

    width: 400px;

    font-family: victor;
    color: white;
    
}

.a-git:hover, .a-in:hover, .a-insta:hover{
    color: rgb(207, 181, 141);
}


.download{
    margin-left:75px;

    height: 40px;
    width: 140px;

    border: none;
    border-radius: 4px;

    background-color: rgba(47, 17, 245, 0.588);

    color: white;
    font-family: roboto;
}

.download:hover{
    background-color: rgb(47, 17, 245);

}

.a-download{
    color: white;

    height: 40px;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*OBJETIVO -------------------------------------------------------------------------------------OBJETIVO------*/

.objetivo{
    width: 100%;
    height: 170px;

    background-color: white;
    margin:30px 0px 0px 0px;

}

.h-objetivo{
    margin: 25px 0px 0px 300px;

    color: rgb(245, 12, 12);
    
    font-family: victor;
    
}

.p-objetivo{
    margin: 0px 0px 0px 300px;

    color: rgb(0, 0, 0);
    
    font-family: roboto;
}


/*HABILIDADES -------------------------------------------------------------------------------------HABILIDADES------*/

.container-hab{

    width: 70%;

    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 3px;
    
    margin: 30px 0px 30px 0px;

    display: flex;
    flex-direction: column;

    justify-items: center;

}

.h3-hab{
    margin: 30px 0px 0px 100px;
    color: yellowgreen;

    font-family: victor;
    font-size: 20px;
    letter-spacing: 2px;


}

.hab{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: glacial;
    font-size: 20px;

    color: white;
}

.hab1{

    height: 158px;

    margin: 10px 0px 40px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hab2{

    height: 40px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left:100px;

}

.li-hab{
    font-size: 24px;
    font-family: victor;
    letter-spacing: 2px;
}



/*FORMAÇÃO -------------------------------------------------------------------------------------FORMAÇÃO------*/

.h3-forma{
    margin-left: 92px;
}

.forma{
    width: 70%;
    height: 300px;

    background-color: rgba(26, 16, 90, 0.603);

    margin: 30px 0px 30px 0px;

    color: white;
    
    font-family: glacial;
    font-size: 20px;
}

.p-forma{
    margin: 40px 10px 10px 40px
}