header{
    position: relative;
}

section{
    display: flex;
    
    width: 90%;

    margin-top: 4%;
    padding: 4%;

    border-radius: 5px;
    box-sizing: border-box;

}

section *{
    margin: 0;
}


.curriculo{
    background-color: rgba(175, 147, 94, 0.274);
    justify-content: space-between;
    align-items: center;
}

.curriculo img{
    width: 15%;
    border-radius: 50%;
}

.curriculo div, .curriculo .download{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curriculo h2{
    font-family:creattion ;
    font-size: 100px;
    text-align: center;

    font-weight: 500;
    color: rgba(186, 191, 207, 0.925);
}

.curriculo .redes{
    flex-direction: column;
    width: 60%;
}

.curriculo .redes div{    
    flex-direction: row;
    justify-content: space-between;
    
    width: 90%;
}

.curriculo .redes a{
    display: flex;
    align-items: center;

    font-family: victor;
    color: aliceblue;
    
    margin-top: 2%;
    min-width: 40%;
}

.curriculo .redes a img{
    width: 8vh;
    height: 8vh;

    margin-right: 4px;
    
    border-radius: 0%;
}

.curriculo .redes a img:hover, .curriculo .redes a p:hover{
    filter: brightness(80%);
}

.curriculo .redes a p{
    font-size: 15px;
}

.curriculo .download{
    background-color: rgb(110, 67, 51);
    font-size: 1vw;
    color: white;

    width: 20%;
    
    padding: 1%;

    border-radius: 2px;
    border-bottom: 1px transparent solid;
}

.curriculo .download:hover{
    background-color: rgb(97, 60, 47);
    border-color: beige;
}


.objetivo{
    background-color: rgba(255, 213, 96, 0.329);


    justify-content: space-between;
    align-items: center;
}

.objetivo h2{
    font-family: monospace;
    
    font-weight: 650;
    font-size: 20px;
}

.objetivo p{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-weight: 600;
    font-size: 15.5px;

    color: rgb(241, 231, 231);

    text-align: justify;
    letter-spacing: 1.2px;
}


.habilidades{
    background-color: rgba(255, 255, 255, 0.349);

    color: rgb(10, 10, 10);

    flex-direction: column;
    justify-content: center;

    width: 90%;
    min-height: 40vh;
}

.habilidades div{
    height: 70%;
    display: flex;
    justify-content: center;
}

.habilidades ul{
    font-family: victor;
    font-size: 30px;

    margin-right: 50px;
}


.forma{
    background-color: rgba(41, 46, 68, 0.479);
    
    flex-direction: column;
    justify-content: space-around;

    width: 90%;
    height: 20vh;

    margin-bottom: 4%;
}


@media (max-width: 718px){

    header .nav-bar{
        height: 1575px;
    }
    .curriculo{
        flex-direction: column;

    }

    .curriculo img{
        width: 50vw;
    }

    .curriculo .redes{
        width: 95vw;
    }

    .curriculo .redes h2{
        font-size: 12vw;
    }

    .curriculo .redes div{
        flex-direction: column-reverse;
    }

    .curriculo .redes div a{
        font-size: 4vw;
    }

    .curriculo .download{
        width: 40%;
        height: 30px;
        margin-top: 6%;
        
        justify-content: center;
        font-size: 3vw;
    }

    .objetivo p{
    
        text-align: center;
    }

    .habilidades div{
        flex-direction: column;
    }
    
    .forma{
        padding: 17% 8% 17% 8%;
        font-size: 2.5vw;
    }
}